body {
  font-family: "Roboto", sans-serif;

  /* Updated background to match logo 
  background: linear-gradient(
    135deg,
    #00274d,
    #00509e
  ); /* Replace these with your logo's gradient colors */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(113, 113, 241);
  border-radius: 20px;
  padding: 20px 40px;
  width: 400px;
  animation: fadeIn 0.8s ease-in-out;
}

.signup-img {
  height: 80px;
}

.signup-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.signup-container form .items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.error-msg {
  color: red;
}

.signup-button {
  margin: 10px 0;
  padding: 10px 15px;
  background: rgb(178, 118, 234);
  font-size: 1rem;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 500;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.signup-button:hover {
  background-color: rgb(132, 25, 233);
  transform: scale(1.02);
}

/* .signup-button:active {
  background-color: greenyellow;
  transform: scale(1);
} */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
